VITE_SUPABASE_URL=https://sjhswcgetrfbtofgdvxw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqaHN3Y2dldHJmYnRvZmdkdnh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1OTU2NDYsImV4cCI6MjA4NzE3MTY0Nn0.-dzdNiLQ-IdRJekPIbyfwbYhzLKcYYjdFr03U61EHYk
